:root {
    /* Colores */
    --color-principal: #10121A;
    --blue: #25587F;
    --light-blue: #88A6C6;
    --rasperry: #A51D71;
    --lilac: #C4A7CF;
    --indigo-velvet: #54217B;
    --text: #f4f2f5;

    /* Tipografía */
    --font-base: Arial, Helvetica, sans-serif;
    --font-heading: "Rock Salt", cursive;
}

/* ESTILOS GENERALES */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-base);
    background-color: var(--color-principal);
    color: var(--text);
}

h1 {
    font-family: var(--font-heading);
}